.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0px 250px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/premium-photo/loft-style-house-with-armchair-accessories-room-3d-rendering_41470-3877.jpg?w=1380"); /* New image URL */
  background-size: cover;
  background-position: center;
  filter: blur(2.5px);
  z-index: -1;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  background-color: #d3d1d1;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: #4a628a;
  width: 100%;
  max-width: 640px;
  text-align: center;
  backdrop-filter: blur(10px);
  z-index: 1;
  opacity: 0.85;
}

.welcome-message {
  font-size: 2.4rem;
  color: #4a628a;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.store-description {
  font-size: 1.18rem;
  color: #4a628a;
  margin-bottom: 20px;
  opacity: 0.85;
  padding: 0 15px;
  text-align: justify;
}

.store-benefits {
  font-size: 1.07rem;
  color: #4a628a;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
}

.login-button {
  background-color: #4a628a;
  color: #d3d1d1;
  border: none;
  padding: 15px 0px;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 0 auto;
}

.login-button:hover {
  background-color: #41587e;
  transform: scale(1.01);
}

.login-button:focus {
  outline: none;
}

/* responsive */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
    width: 80%;
  }

  .welcome-message {
    font-size: 2rem;
  }

  .store-description,
  .store-benefits {
    font-size: 1rem;
  }

  .login-button {
    padding: 12px 30px;
    font-size: 1rem;
  }
}
