.search-container {
  display: flex;
  justify-content: center;
  margin: 25px 0 40px;
}

.searchInput {
  width: 800px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.searchInput:focus {
  outline: none;
  border-color: rgb(221, 106, 44);
}

.searchInput::placeholder {
  color: #aaa;
}
