.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: #4a628a;
  color: #d3d1d1;
}

.auth-header .logo img {
  height: 4.5em;
  flex-shrink: 0;
}

.auth-header .controls {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.auth-header .language-toggle button,
.auth-header .theme-toggle {
  background-color: transparent;
  color: #d3d1d1;
  cursor: pointer;
}

.auth-header .language-toggle button:hover {
  background-color: #d3d1d1;
  color: #4a628a;
}

@media (max-width: 343px) {
  .auth-header .theme-toggle,
  .auth-header .language-toggle {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
