.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: #4a628a;
  color: #d3d1d1;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark .header {
  background-color: black;
  color: #d3d1d1;
}

.logo {
  height: 4.5em;
  flex-shrink: 0;
}

.logo img {
  width: 5em;
}

.nav ul {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 2em;
  margin-left: 100px;
}

.nav ul li a {
  color: #d3d1d1;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav ul li a:hover {
  color: #fff;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 50px;
}

.toggle-track {
  width: 60px;
  height: 30px;
  border: 2px solid #d3d1d1;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.language-toggle button {
  font-size: 0.9em;
  color: #d3d1d1;
  width: 60px;
  height: 30px;
  border: 2px solid #d3d1d1;
  border-radius: 15px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.plus-button-wrapper {
  font-size: 30px;
  background-color: transparent;
  color: #d3d1d1;
  border: 3px solid #d3d1d1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.plus-button-wrapper:hover {
  background-color: #d3d1d1;
  color: #4a628a;
}

.profile-dropdown-wrapper {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  border: 1px solid #d3d1d1;
  border-radius: 5px;
  z-index: 10;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.profile-dropdown button {
  background-color: transparent;
  color: #d3d1d1;
  border: none;
  padding: 0.7em 0.7em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: background-color 0.2s ease;
}

.profile-dropdown button:hover {
  background-color: #d3d1d1;
  color: #4a628a;
}

.profile-dropdown-wrapper .icon {
  cursor: pointer;
}

.category-dropdown-wrapper {
  position: relative;
}

.category-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  border: 1px solid #d3d1d1;
  background-color: #4a628a;
}

.category-dropdown li {
  padding: 0.5em 1em;
  color: #d3d1d1;
  cursor: pointer;
}

.category-dropdown li:hover {
  background-color: #d3d1d1;
  color: #4a628a;
}

.category-dropdown-wrapper button {
  border: none;
  color: #d3d1d1;
  font-size: 1.2em;
  cursor: pointer;
}

.auth {
  display: flex;
  align-items: center;
  gap: 1em;
}

.burger-menu {
  display: none;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.burger-menu.open {
  font-size: 2.5rem;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 2em;
}

.nav.open {
  display: block;
}

@media (max-width: 1250px) {
  .burger-menu {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #4a628a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
  }

  .nav.open {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    padding: 0;
  }

  .nav ul li {
    padding: 1em;
    text-align: left;
  }
}
