.post-page {
  max-width: 800px;
  margin: 70px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 2.5em;
  color: rgb(221, 106, 44);
  margin-bottom: 15px;
}

.post-body {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

.post-tags {
  font-size: 0.9em;
  color: #777;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 0.9em;
  color: #999;
}

.tag-item {
  margin-right: 5px;
}

.post-views {
  color: #999;
}

.loading {
  font-size: 1.5em;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.error-message {
  font-size: 1.5rem;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
