.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 7em;
  background-color: #2e2e2d;
  color: white;
}

.logo img {
  width: 5em;
}

.logo {
  height: 4em;
}
.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 2em;
}

.nav-left li a,
.nav-right li :not(.try-next-pro) {
  color: #d3d1d1;
  font-size: 1.2em;
}

.try-next-pro {
  color: rgb(221, 106, 44);
  font-size: 1.2em;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: 300px;
  padding: 0.5em;
  outline: none;
  border: none;
  opacity: 0.9;
}

.search img {
  position: absolute;
  right: 5px;
  cursor: pointer;
  width: 20px;
  height: auto;
}

.auth-buttons {
  display: flex;
  gap: 1em;
}

button {
  font-size: 1em;
  border: none;
  cursor: pointer;
  padding: 0.7em 1.3em;
}

.auth-buttons :nth-child(1) {
  background-color: transparent;
  color: #d3d1d1;
  border: 1px solid #fff;
}

.auth-buttons :nth-child(2) {
  background-color: rgb(221, 106, 44);
  color: #fff;
}

.burger-bar img {
  width: 1.8em;
  height: auto;
  display: none;
}

/* responsive  */

@media (max-width: 1440px) {
  .search {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav {
    gap: 20px;
  }

  button {
    padding: 0.5em 1em;
  }
}

@media (max-width: 1110px) {
  .auth-buttons {
    gap: 0.5em;
  }

  button {
    padding: 0.5em;
  }
}

@media (max-width: 1050px) {
  .header {
    padding: 0em 0em;
  }

  .logo img {
    width: 4em;
  }

  .logo {
    height: 3.2em;
  }
}

@media (max-width: 820px) {
  .nav-right li :not(.try-next-pro) {
    display: none;
  }
  .nav-right {
    gap: 0px;
  }
}

@media (max-width: 610px) {
  .burger-bar img {
    display: block;
  }

  .burger-bar {
    padding: 0px 10px;
  }

  .nav li {
    display: none;
  }

  .bar-auth {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media (max-width: 390px) {
}
