.post-detail {
  max-width: 800px;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.post-title {
  font-size: 28px;
  color: rgb(221, 106, 44);
  margin-bottom: 20px;
}

.post-body {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
  text-align: justify;
}

.post-views {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.post-tags {
  margin-top: 20px;
}

.post-tags p {
  font-size: 1.2em;
  color: rgb(221, 106, 44);
  margin-bottom: 10px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: rgb(221, 106, 44);
  color: white;
  padding: 5px 10px;
  font-size: 1em;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
