.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modal-content {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateY(20px);
}

.modal-content.show {
  transform: translateY(0);
}

.modal h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.modal input,
.modal textarea {
  width: 100%;
  margin: 7px 0px;
  padding: 20px 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.modal input:focus,
.modal textarea:focus {
  border-color: #4A628A;
  outline: none;
}

.modal button {
  padding: 10px 15px;
  border: none;
  background-color: #4A628A;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 10px;
}

.modal button:hover {
  transform: translateY(-2px);
}

.modal button:last-child {
  background-color: #ccc;
  color: #333;
}
