.footer {
  background-color: #f8f9fa;
  padding: 1em 0em 3em;  
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.footer h2 {
  font-size: 1.7em;
}

.go-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-img {
  display: flex;
  gap: 1em;
}

.mobile-img a img {
  width: 150px;
}

.footer-links {
    display: flex;
    gap: 100px;
}

.footer-links li {
  margin: 1.3em 0em 0em;
  font-size: 1.08em;
}

.footer-links a {
  color: #000;
}

.footer-links a:hover {
    color: rgb(221, 106, 44);
    text-decoration: underline;
}

