@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.dark body {
  background-color: black;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
  width: 100%;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
