.product-detail-card {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-detail-card h1 {
  font-size: 2.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.product-detail-card img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: contain; 
  margin-bottom: 20px;
}

.product-detail-card p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

.product-detail-card p:last-of-type {
  font-size: 1.3rem;
  font-weight: bold;
  color:  rgb(221, 106, 44);
}

@media (max-width: 768px) {
  .product-detail-card {
    padding: 15px;
  }

  .product-detail-card h1 {
    font-size: 1.8rem;
  }

  .product-detail-card img {
    max-height: 300px;
  }

  .product-detail-card p {
    font-size: 1rem;
  }

  .product-detail-card p:last-of-type {
    font-size: 1.2rem;
  }
}
